* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header nav {
  margin: 0 auto;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10000; }
  header nav .nav__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    header nav .nav__list .nav__logo {
      margin-top: 8px;
      font-size: 2rem;
      text-decoration-line: none;
      color: white; }
    header nav .nav__list ul {
      display: flex;
      flex-direction: row; }
      header nav .nav__list ul li {
        display: flex;
        flex-direction: row;
        margin: 5px;
        list-style: none;
        font-size: 1rem; }
  header nav .btncarrito {
    height: 6vh;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 2px;
    background-color: white;
    border-radius: 5px; }

main section h1 {
  display: flex;
  justify-content: center;
  margin: 30px; }

main section .carousel {
  margin-top: 60px; }

main .envios {
  display: flex;
  justify-content: center;
  font-size: 1rem; }

main .banner2 {
  margin: 25px 10px 25px 10px; }

main .productos {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main .productos h2 {
    margin: 0 auto 15px; }
  main .productos .productos__card {
    width: 250px;
    margin: 0 auto 15px; }
    main .productos .productos__card .productos__card--img {
      width: 250px;
      display: flex;
      justify-content: center; }

main .categorias {
  display: flex;
  flex-direction: row; }
  main .categorias .categorias__productos1, main .categorias .categorias__productos2 {
    margin: 15px auto 15px;
    margin-right: 10px; }
    main .categorias .categorias__productos1 .categorias__img, main .categorias .categorias__productos2 .categorias__img {
      position: relative; }

main .form {
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.493);
  border-radius: 5px; }
  main .form .input {
    display: flex; }
  main .form .boton {
    border-radius: 5px;
    background-color: rgba(206, 176, 93, 0.945);
    margin: 5px; }
  main .form .clientes {
    width: 70%; }
    main .form .clientes .boton__clientes {
      margin: 35px; }
    main .form .clientes .div__clientes {
      display: flex;
      flex-direction: column; }

main .container__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .container__products .productos {
    border-radius: 5px;
    height: 60vh;
    box-shadow: 5px 5px 20px 5px #696767;
    margin: 20px; }
    main .container__products .productos .productos__card .productos__card--img {
      border-radius: 5px;
      width: 250px;
      height: 37vh; }
    main .container__products .productos .productos__card .productos__card--img:hover {
      transform: scale(1.1, 1.1);
      transition: 2s ease; }
    main .container__products .productos .productos__card .productos__card--title {
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      color: darkgoldenrod;
      margin-left: 10px; }
    main .container__products .productos .productos__card .productos__card--info {
      padding: 10px; }
    main .container__products .productos .productos__card .productos__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      border-top: 5px black;
      border-style: initial; }
      main .container__products .productos .productos__card .productos__content .btnAgregar {
        padding: 8px;
        border-radius: 50%;
        margin-right: 15px;
        color: white;
        background-color: black; }
  main .container__products .productos:hover {
    box-shadow: 5px 5px 20px 5px #b9b5b5; }

footer .footer__info {
  color: white;
  background-color: rgba(0, 0, 0, 0.493); }
  footer .footer__info h4 {
    font-size: 15px; }
